:root {
  --mainBlack: #000000;
  --mainWhite: #f3f3f3;
}

body {
  font-family: 'Rubik', sans-serif !important;
  background: var(--mainWhite) !important;
}

.text-title {
  text-transform: uppercase;
  font-size: 30px;
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: black;
  border-radius: 0 !important;
  border: 0.1rem solid black !important;
}

.btn-black:hover{
  background: black;
  color: white;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: #dc3545;
}

.p-t8px {
  padding-top: 8px;
}

.sticky-footer {
  position: fixed;
  height: 30px;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: auto;
  vertical-align: middle;
  background: black;
  line-height: 30px;
}

.navbar-custom-styling {
  color:  white !important;
}

.title-color {
  color: #dc3545;
}

.m-bt-30px {
  margin-bottom: 30px;
}